<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
>
  <Bundle
    Name="$(var.ResoDriveProductName)"
    Manufacturer="$(var.ResoDrivePublisher)"
    Version="$(var.ResoDriveVersion)"
    UpgradeCode="$(var.ResoDriveBundleUpgradeCode)"
    IconSourceFile="$(var.IconSource)"
  >
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense" ThemeFile="SetupTheme.xml"
        LicenseUrl="https://github.com/alphasixtyfive/ResoDrive/blob/main/LICENSE"
        LogoFile="$(var.LogoSource)" SuppressOptionsUI="yes"
        LaunchTarget="[ProgramFiles64Folder]rdrive\resodrive.exe"
        LaunchWorkingFolder="[ProgramFiles64Folder]rdrive" />
      <Payload SourceFile="$(var.IconSource)" Name="app.ico" />
    </BootstrapperApplication>

    <netfx:DotNetCoreSearch
      RuntimeType="desktop"
      Platform="x64"
      MajorVersion="10"
      Variable="DotNetDesktopRuntimeVersion"
    />

    <Variable Name="ResoDriveDataRoot" Type="string" Value="" bal:Overridable="yes" />
    <Chain>
      <ExePackage
        Id="DotNetDesktopRuntime"
        DetectCondition="DotNetDesktopRuntimeVersion &gt;= v$(var.DotNetDesktopRuntimeMinimumVersion)"
        InstallArguments="/install /quiet /norestart"
        UninstallArguments="/uninstall /quiet /norestart"
        PerMachine="yes"
        Permanent="yes"
        Cache="remove"
        Vital="yes"
      >
        <ExePackagePayload
          Name="windowsdesktop-runtime-$(var.DotNetDesktopRuntimeVersion)-win-x64.exe"
          DownloadUrl="$(var.DotNetDesktopRuntimeUrl)"
          Hash="$(var.DotNetDesktopRuntimeSha512)"
          Size="$(var.DotNetDesktopRuntimeSize)"
        />
      </ExePackage>
      <MsiPackage SourceFile="$(var.MsiSource)" Compressed="yes" Vital="yes" Visible="no">
        <MsiProperty Name="RDRIVE_DATA_ROOT" Value="[ResoDriveDataRoot]" Condition="ResoDriveDataRoot" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
